.formation__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 15rem;

  .formation__item {
    margin-top: 0.4rem;

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    .formation__item__label {
      font-weight: 700;
    }
  }
}