.formation__container {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 12rem;
  height: 4rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;


  .formation__background {

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }

  .formation__menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 2;

    .formation__menu__puzzlePieces {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .formation__item {
    margin-top: 0.4rem;

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    .formation__item__label {
      font-weight: 700;
    }
  }
}