.level_completed__container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: white;
  padding: 2rem;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }

  .level_completed__message {}
}