@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  box-sizing: border-box;
  background: black;
}

.bangers {
  font-family: 'Bangers';
}

.app {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin-inline: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}